<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhp1986.utpcablerj45conectioncolor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/utp_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/utp_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBarForLicenses">

        <activity
            android:name=".SplashScreen"
            android:theme="@style/Splashscreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/utp_app_id" />

    </application>

</manifest>